
body {
    background:  url("https://top-fon.com/uploads/posts/2023-02/1675536245_top-fon-com-p-fon-dlya-prezentatsii-priyatnii-1.jpg");
    height: 100vh;;
    background-size: cover;
    background-attachment: fixed;
}